// ********Color Variables********
$white-pure-color: #FFFFFF;
$white-color: #f0ebe8;
$white-active-color: #F0F0F0;
$black-color: #000000;
$light-black-color: #424242;
$gray-black-color: #AEAEAE;
$modal-bg-color: #F1EEED;
$textarea-placeholder-color: #A7A6A5;

// ********Font Variables********
$font-raleway: "Raleway", sans-serif;
$font-playfair: "Playfair Display", serif;
