// ********Color Variables********
$white-pure-color: #ffffff;
$white-color: #f0ebe8;
$white-active-color: #f0f0f0;
$black-color: #000000;
$light-black-color: #424242;
$gray-black-color: #aeaeae;
$modal-bg-color: #f1eeed;
$textarea-placeholder-color: #a7a6a5;
$disable-color: #a9a9a9;
$info-color: #26c0d3;
$error-color: rgb(255, 85, 73);
$success-color: #32c682;
$warning-color: #eebf31;
$purple-color: #463c61;
$primary-color: #c48e5f;
$green-color: #3d5a58;
$wooden-color: #584b3f;

// ********Font Variables********
$font-raleway: 'Raleway', sans-serif;
$font-playfair: 'Playfair Display', serif;
